.parent {
  width: 100%;
  position: relative;
  display: flex;
  height: 90vh;
  padding: 10rem 0px 5rem 0px;
  background-image: url("../../images/Rectangle 2.svg");
  background-size: cover;
  margin-top: 5rem;
}

@media (max-width: 1500px) {
  .parent > div:nth-child(3) {
    background: none;
  }
}
.bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
  display: none;
}

.parent > div:nth-child(2) {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.parent > div:nth-child(3) {
  flex: 1;
  gap: 2rem;
}

.parent > div:nth-child(2) > div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.parent > div:nth-child(2) > div:nth-child(1) > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #00adb5;
  padding: 0px 2rem;
}
.parent > div:nth-child(2) > div:nth-child(2) > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: #eeeeee;
  padding: 0px 2rem;
}

.parent > div:nth-child(3) {
  padding: 0px 3rem 0px 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.parent > div:nth-child(3) > div {
  width: 100%;
  flex: 1;
}
.parent > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.parent > div:nth-child(3) > div:nth-child(1) > p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #eeeeee;
}
.parent > div:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.06em;
  color: #00adb5;
}

.parent > div:nth-child(3) > div:nth-child(1) > p:nth-child(3) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.parent > div:nth-child(3) > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.parent > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.parent
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(1)
  > p:nth-child(1) {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.parent
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(1)
  > p:nth-child(2) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #00adb5;
  cursor: pointer;
}
.parent > div:nth-child(3) > div:nth-child(2)  {
    width: 100%;
}

.sliderp {
    width: 50vw;
}

@media (max-width:900px) {
    .sliderp {
        width: 90vw;
    }
        
}
.parent > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.parent
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(3)
  > img:nth-child(2) {
  transform: rotate(180deg);
}
.parent > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > img:hover {
  opacity: 3;
}

@media (max-width: 900px) {
  .parent {
    background-image: url("../../images/Rectangle 2.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .parent {
    flex-direction: column;
    padding: 0rem;
  }
  .parent > div:nth-child(2) {
    flex-direction: column;
    background-image: url("../../images/Rectangle 2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 1rem 0px;
  }
  .parent > div:nth-child(2) > div {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 40px;
    color: #eeeeee;
    padding: 6rem 2rem;
  }
  .parent > div:nth-child(3) {
    background: #1f2022;
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .parent > div:nth-child(2) {
    background-position: 20%;
  }
  .parent > div:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
    font-size: 75px;
  }

  .parent > div:nth-child(3) > div:nth-child(2) > div:nth-child(3)  {
    justify-content: center;
  }
  
}

.parent
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(3){
    display: none;
  }