.parent {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  background: #1f2022;
  padding: 2rem;
  position: fixed;
  z-index: 3837833;
  top: 0%;
  left: 0%;
  width: 100%;
}

.parent > div:nth-child(1) {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #eeeeee;
}
.parent > div:nth-child(1) > p {
  padding-left: 3rem;
}
.parent > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 3;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #eeeeee;
}
.parent > div:nth-child(2) p{
  cursor: pointer;
} 
.parent > div:nth-child(3) {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent > div:nth-child(3) > button {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding: 1rem;
  border: 0;
  background: #eeeeee;
  border-radius: 3px;
  cursor: pointer;
}

/* Dropdown */

.dropdown {
  position: relative;
  top: 0%;
  left: 0%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  z-index: 1000045;
  color: black;
  display: none;
}

.dropdownC {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  left: 0%;
  min-width: 160px;
  z-index: 1000027;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown:hover .dropdownC {
  background-color: #0f1320;
  display: block;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0px;
  justify-content: center;
  align-items: center;
}

 .parent > div:nth-child(3) img {
     
     display: none;
    }
    .parent > div:nth-child(2) > p:nth-child(1) {
        color: #00ADB5;
    }

@media (max-width: 800px) {
  .dropdown {
    display: block;
    color: white;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .parent > div:nth-child(2) {
    display: none;
    flex: 0;
  }

  .parent > div:nth-child(3) {
    flex: 3;
    justify-content: flex-end;
    gap: 2rem;
  }
  .parent > div:nth-child(1) > p {
    padding-left: 1.5rem;
  }
}
@media (max-width: 600px) {
  .parent > div:nth-child(1) > p {
    padding-left: 0.5rem;
  }
}
@media (max-width: 500px) {
  .parent > div:nth-child(3) img {
    display: block;
  }
  .parent > div:nth-child(3) > div:nth-child(1){
    display: none;
  }
  
  .parent > div:nth-child(3) > button:nth-child(2){
    display: none;
  }

}
