.parent {
  width: 100%;
  /* margin:5rem auto !important; */
  margin: auto;
  position: relative !important;
  z-index: 5;
}

.img {
  width: 90% !important;
  height: 100px;
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  color: white;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(12px);
  position: relative;
  z-index: 576;
}
.card span {
  font-family: "Poppins";
}

.arrows{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap :2rem;
}
.arrows img {
  cursor: pointer;
}

.arrows > img:nth-child(2){
  transform: rotate(180deg);
}

@media (max-width:900px) {
  .arrows{
    justify-content: center;
  }
}